
.input_group{
    display: flex;
    flex-direction: column;
    gap:0.5rem
  }
  
.input{
    padding: 0.5rem;
    border: 1px solid gray;
    font-family: inherit;
  }

.error_message{
    color:red;
    font-size: 0.7rem;
}